DISCORD_TOKEN=your_discord_bot_token_here
POLLINATIONS_TOKEN=your_pollinations_token_here
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=./polly.pem
GITHUB_INSTALLATION_ID=
POLLI_PAT=
GITHUB_PROJECT_PAT=
GITHUB_WEBHOOK_SECRET=
DOC_EMBEDDINGS_ENABLED=true
